<section
    id="{{content.nearsightedness.condition}}"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-{{content.nearsightedness.condition}}"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-nearsightedness"
            class="c-prompt__title">
            {{{content.nearsightedness.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.nearsightedness.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/motor/">{{content.nearsightedness.type}} condition</a> like <a rel="external noopener" href="">{{content.nearsightedness.condition}}</a>.
        </p>
    </div>
</section>
