<section
    id="{{content.limb-loss.condition}}"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-{{content.limb-loss.condition}}"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-limb-loss"
            class="c-prompt__title">
            {{{content.limb-loss.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.limb-loss.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/motor/">{{content.limb-loss.type}} condition</a> like <a rel="external noopener" href="">{{content.limb-loss.condition}}</a>.
        </p>
    </div>
</section>
