<section
    id="{{content.nearsightedness-farsightedness.condition}}"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-{{content.nearsightedness-farsightedness.condition}}"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-nearsightedness-farsightedness"
            class="c-prompt__title">
            {{{content.nearsightedness-farsightedness.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.nearsightedness-farsightedness.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="">{{content.nearsightedness-farsightedness.type}} condition</a> like <a rel="external noopener" href="">{{content.nearsightedness-farsightedness.condition}}</a>.
        </p>
    </div>
</section>
