<section
    id="{{content.traumatic-brain-injury.condition}}"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-{{content.traumatic-brain-injury.condition}}"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-{{content.traumatic-brain-injury.condition}}"
            class="c-prompt__title">
            {{{content.traumatic-brain-injury.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.traumatic-brain-injury.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/cognitive/">{{content.traumatic-brain-injury.type}} condition</a> like <a rel="external noopener" href="">{{content.traumatic-brain-injury.condition}}</a>.
        </p>
    </div>
</section>
