<section
    id="{{content.cataracts.condition}}"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-{{content.cataracts.condition}}"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-cataracts"
            class="c-prompt__title">
            {{{content.cataracts.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.cataracts.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="">{{content.cataracts.type}} condition</a> like <a rel="external noopener" href="">{{content.cataracts.condition}}</a>.
        </p>
    </div>
</section>
