<section
    id="{{content.neural-hearing-loss.condition}}"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-{{content.neural-hearing-loss.condition}}"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-neural-hearing-loss"
            class="c-prompt__title">
            {{{content.neural-hearing-loss.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.neural-hearing-loss.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="">{{content.neural-hearing-loss.type}} condition</a> like <a rel="external noopener" href="">{{content.neural-hearing-loss.condition}}</a>.
        </p>
    </div>
</section>
